/* CSS files add styling rules to your content */
body {
  font-family: "Open Sans", sans-serif;
}
.sub {
  font-weight: 300;
  font-size: 30px;
}
.head {
  font-weight: 700;
  font-size: 48px;
}
.desc {
  font-size: 400px;
}
